.barcelona {
  background: url(./images/barcelona.jpg) no-repeat center center;
  background-size: cover;
}

.redmond {
  background: url(./images/redmond.jpg) no-repeat center center;
  background-size: cover;
}

.verisailles {
  background: url(./images/verisailles.jpg) no-repeat center center;
  background-size: cover;
}

.barcelonazoo {
  background: url(./images/barcelonazoo.jpg) no-repeat center center;
  background-size: cover;
}
