#calendarContainer {

}

body {
  background: #f7f6f3;
  font-family: sans-serif;
}

.dateText {
  margin: 50px;
}

#background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

#textDateContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 70%;
  height: 500px;
  margin: auto;
  font-weight: 600;
  font-size: 300%;
  color: white;
}

.calendar {
  position: absolute;
  width: 280px;
  left: 50%;
  top: 50%;
  margin: -145px 0px 0px -140px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.ui-datepicker-header {
  height: 50px;
  line-height: 50px;
  color: #b0aead;
  background: #e9e5e3;
  margin-bottom: 10px;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border: 2px solid #b0aead;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px;
}
.ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}
.ui-datepicker-prev:after {
  transform: rotate(45deg);
  margin: -43px 0px 0px 8px;
}
.ui-datepicker-next {
  float: right;
  margin-right: 12px;
}
.ui-datepicker-next:after {
  transform: rotate(-135deg);
  margin: -43px 0px 0px 6px;
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-left: 2px solid #b0aead;
  border-bottom: 2px solid #b0aead;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
  border-color: #5ed1cc;
}
.ui-datepicker-title {
  text-align: center;
}
.ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.ui-datepicker-calendar thead tr th span {
  display: block;
  width: 40px;
  color: #00a8b2;
  margin-bottom: 5px;
  font-size: 13px;
}
.ui-state-default {
  display: block;
  text-decoration: none;
  color: #b5b5b5;
  line-height: 40px;
  font-size: 12px;
}
.ui-state-default:hover {
  background: rgba(0,0,0,0.02);
}
.ui-state-highlight {
  color: #8dd391;
}
.ui-state-active {
  color: #5ed1cc;
}
.ui-datepicker-unselectable .ui-state-default {
  color: #eee;
  //border: 2px solid transparent;
}

