#destContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: calc(100% - 11em);
  width: 100%;
}
.dest {
  position: absolute;
  height: 50%;
  width: 50%;
  text-align: center;
}
.destTitle:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(2,52,97,0.5);
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -ms-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
  transition: background 0.4s ease;
  content: '';
}
.destTitle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
.destTitle .buttonAction {
  position: absolute;
  top: 50%;
  margin-top: -0.75em;
  margin-bottom: 0;
  padding: 0;
  left: 0;
  width: 100%;
}
.destTitle .buttonAction {
  margin-top: -0.75em;
  font-size: 1.5em;
  background: transparent;
  color: #fff;
}

.SanFrancisco {
  top: 0;
  left: 0;
}
.NewYork {
  top: 0;
  left: 50%;
}
.Chicago {
  top: 50%;
  left: 0;
}
.Seattle {
  top: 50%;
  left: 50%;
}

.NewYork .destTitle:before,
.Chicago .destTitle:before {
  background: rgba(3,94,96,0.5);
}

/* Tablet+ */
@media only screen and (min-width: 50em) {
  
  .dest {
    height: 100%;
    width: 25%;  
  }
  .NewYork {
    left: 25%;
  }
  .Chicago {
    top: 0;
    left: 50%;
  }
  .Seattle {
    top: 0;
    left: 75%;
    background: rgba(3,94,96,0.5);
  }
  .Chicago .destTitle:before {
    background: rgba(2,52,97,0.5);
  }
  .Seattle .destTitle:before {
    background: rgba(3,94,96,0.5);
  }
  
}

.destTitle:hover {
  cursor: pointer;
  &:before {
    background: rgba(255,255,255,0.2);
  }
}
