#destContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: calc(100% - 11em);
  width: 100%;
}
.dest {
  position: absolute;
  height: 50%;
  width: 50%;
  text-align: center;
}
.dest:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(2,52,97,0.25);
  content: '';
}
.destTitle {
  position: absolute;
  top: 50%;
  margin-top: -0.75em;
  width: 100%;
  text-align: center;
}
.destTitle .buttonAction {
  margin-top: -0.75em;
  padding: 0.25em 0.5em;
}

.Barcelona {
  top: 0;
  left: 0;
}
.Paris {
  top: 0;
  left: 50%;
}
.London {
  top: 50%;
  left: 0;
}
.Seattle {
  top: 50%;
  left: 50%;
}

.Paris:before,
.London:before {
  background: rgba(3,94,96,0.25);
}