#destContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  &:after {
    content: '';
    margin-top: 100%;
    margin-bottom: 100%;
  }
}

#locationPrompt {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: black;
  color: white;
  font-size: 60px;
  text-align: center;
  vertical-align: middle;
  width: 750px;
  height: 75px;

}

.title {
  font-size: 300%;
  color: white;
  text-align: center;
  top: calc(50% - 25px);
  background-color: black;
  position: relative;
  width: 250px;
  left: 0;
  right: 0;
  margin: auto;

}

.dest {
  width: 50%;
  height: 50%;
  float: left;
}

#dest1 {
}

#dest4 {
}
