#destContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: calc(100% - 11em);
  width: 100%;
}
.dest {
  position: absolute;
  height: 50%;
  width: 50%;
  text-align: center;
}
.destTitle:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(2,52,97,0.5);
  content: '';
}
.destTitle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
.destTitle:hover {
  cursor: pointer;
  filter: brightness(2);
}
.destTitle .buttonAction {
  position: absolute;
  top: 50%;
  margin-top: -0.75em;
  padding: 0;
  left: 0;
  width: 100%;
}
.destTitle .buttonAction {
  margin-top: -0.75em;
  font-size: 1.5em;
  background: transparent;
  color: #fff;
}

.Barcelona {
  top: 0;
  left: 0;
}
.Paris {
  top: 0;
  left: 50%;
}
.London {
  top: 50%;
  left: 0;
}
.Seattle {
  top: 50%;
  left: 50%;
}

.Paris .destTitle:before,
.London .destTitle:before {
  background: rgba(3,94,96,0.5);
}

/* Tablet+ */
@media only screen and (min-width: 50em) {
  
  .dest {
    height: 100%;
    width: 25%;  
  }
  .Paris {
    left: 25%;
  }
  .London {
    top: 0;
    left: 50%;
  }
  .Seattle {
    top: 0;
    left: 75%;
    background: rgba(3,94,96,0.5);
  }
  .London .destTitle:before {
    background: rgba(2,52,97,0.5);
  }
  .Seattle .destTitle:before {
    background: rgba(3,94,96,0.5);
  }
  
}
