/* PANES
--------------------------------------------- */

.paneContainer {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* Background */
.background {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  z-index: -10;
}

/* Pane Header */
.stepLabel {
  display: inline-block;
  margin-bottom: 1.5rem;
  padding: 0.75em 0.75em 0.5em;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-size: 0.75em;
  line-height: 1;
  background: rgba(0,0,0,0.1);
}
.paneTitle {
  margin: 0 1rem 1.5rem 0;
  font-weight: 200;
  font-size: 2.5em;
  line-height: 1.125;
}

/* Pane Content */
.paneContent {
  margin-right: 1rem;
  font-size: 1.25em;
}

/* Button Bar */
.paneButtons {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0.75em 0;
	width: 100%;
	text-align: right;
	background: #fff;
	font-size: 1.25em;
}
.paneButtons .container {
  padding: 0 0.75em;
}
.paneButtons .buttonConfirm {
  background: #034f93;
  color: #fff;
}

/* PANES - RESPONSIVE
--------------------------------------------- */

@media only screen and (min-width: 50em) {
  
  .stepLabel {
    font-size: 0.5em;
  }
	.paneButtons .container {
		padding-right: 0;
		padding-left: 0;
	}
	
}
